html {
  height: 100%;
}

body {
  background: linear-gradient(#eef9e3, #f5f9e5);
  height: 100%;
}

.done {
  text-decoration: line-through;
  background-color: #96BE8C;
}

.gone {
  display: none !important;
}

.listLabels {
  /*font-family: 'Dosis', serif;*/
  font-family: 'Oswald', sans-serif;
}

@keyframes slidein {
  from {
    margin-left: 300%;
  }

  to {
    margin-right: 0%;
  }
}

.editForm {
  animation-duration: 1s;
  animation-name: slidein;
  display: none;
  min-width: 95%;
  position: absolute;
  z-index: 99999;
}

.editBody {
  border-radius: 10px;
  background: linear-gradient(#e5f9f8, white);
}

.editHeader {
  text-transform: lowercase;
  font-family: sans-serif;
}

.img-thumbnail {
  background-color: #b7d5e8;
}

.orderAisleButton {
  background-color: #38E4AE;
  color: black;
}

.orderItemButton {
  background-color: #343E3D;
  color: white;
}

.orderItemButton:hover {
  background-color: #7dc1bb;
  color: black;
}
.orderAisleButton:hover {
  color: white;
  background-color: #25725a;
}

.btn {
  margin: 0 3px 0 3px;
}

label {
    font-weight: bold;
}

.badge {
  color: black;
  background-color: white;
  border: 1px black solid;
  margin-right: 10px;
}

.glyphicon.glyphicon-ok {
  margin: 0 5px 0 2px;
  color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.glyphicon.glyphicon-trash {
  margin: 0 5px 0 2px;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.editItemHeader {
  font-family: 'Arimo', sans-serif;
  text-align: center;
}

.editButton {
  color: #46b55c;
  cursor: pointer;
}

.editButton:hover {
  color: green;
}

.appLogo {
  position: relative;
}

.appTitle {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 5px 5px 2px #888888;
}

.groceryItems {
  text-transform: uppercase;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
}

.itemEntry {
  padding: 0;
  /*font-family: 'Oswald', sans-serif;*/
  font-family: 'Arimo', sans-serif;
}

.appName {
  font-family: sans-serif;
  margin-left: 30px;
  margin-bottom: 6px;
  color: white
}

.appName2 {
  font-family: sans-serif;
  margin-top: 0px;
  margin-left: 83px;
  color: white;
}

.letters {
  margin-left: 3px;
  text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;
}

.initial {
  font-family: sans-serif;
  color: white;
  border: 1px solid white;
  padding: 0px 6px 1px 3px;
  box-shadow: 1px 1px 1px grey;
  background: linear-gradient(to bottom right, #124415, #19661d);
}

.initial2 {
  font-family: sans-serif;
  color: white;
  border: 1px solid white;
  padding: 0px 10px 0px 10px;
  box-shadow: 1px 1px 1px grey;
  background: linear-gradient(to bottom right, #124415, #19661d);
}
